<div class="card" style="width: 70rem; margin: auto; margin-top: 1rem">
    <h1 class="display-4">Product Management</h1>
    <p class="lead">Create, update and delete products in the store. Click the product name to edit a single product.
        Select multiple items to mass delete them.</p>

    <button type="button" (click)="showAddProductForm()" class="btn btn-primary">Add product</button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Remove</th>
            </tr>
            <tr *ngFor="let product of products">
                <td><img src="/api/product/image?id={{product.id}}" width="64" height="64"></td>
                <td (click)="showEditProductForm(product)">{{product.name}}</td>
                <td>€{{product.price | number:'1.2-2'}}</td>
                <td><button type="button" (click)="deleteProduct(product)" class="btn btn-danger">Remove</button></td>
            </tr>
        </thead>
    </table>
</div>

<ngx-smart-modal #editProductModal identifier="editProductModal">
    <form [formGroup]="editProductForm" (ngSubmit)="onEditProductSubmit()">
        <div class="form-group">
            <label for="name">Product ID</label>
            <input type="text" class="form-control" formControlName="id" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="name">Product Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="description">Product Description</label>
            <input type="text" class="form-control" formControlName="description" placeholder="Description">
        </div>
        <div class="form-group">
            <label for="name">Product Image</label>
            <input type="text" class="form-control" formControlName="imageFile" placeholder="Image URL">
        </div>
        <div class="form-group">
            <label for="name">Product Price</label>
            <input type="text" class="form-control" formControlName="price" placeholder="Price">
        </div>
        <div class="form-group">
            <button type="button" (click)="onEditProductSubmit()" class="btn btn-primary">Apply</button>
        </div>
    </form>
</ngx-smart-modal>
<app-addproducts></app-addproducts>