<div class="card w-50" style="margin: 0 auto; margin-top: 1rem; max-width: 90rem">
  <div class="card-body">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Prijs</th>
          <th scope="col">Aantal</th>
        </tr>
      </thead>
      <tr *ngFor="let basketitem of productList">
        <td>{{basketitem.product.name}}</td>
        <td>{{basketitem.product.price}}</td>
        <td>{{basketitem.amount}}</td>
      </tr>

    </table>

    <div>
      <h2>Totale prijs: €{{totalprice | number:'1.2-2'}}</h2>
    </div>


    <div class="card w-100" style="float: right;">
      <h5 class="card-title">Afrekenen</h5>
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="checkout()">
          <div class="form-group">
              <label for="email">Naam</label>
              <input class="form-control" placeholder="Naam" formControlName="name">
            </div>
            <div *ngIf="checkoutFormGroup.get('name').invalid && (checkoutFormGroup.get('name').dirty || checkoutFormGroup.get('name').touched)"
              class="alert alert-danger">
              <div *ngIf="checkoutFormGroup.get('name').errors.required">
                Vul een naam in.
              </div>
            </div>

        <div class="form-group">
          <label for="email">E-mailadres</label>
          <input class="form-control" placeholder="E-mailadres" formControlName="email">
        </div>
        <div *ngIf="checkoutFormGroup.get('email').invalid && (checkoutFormGroup.get('email').dirty || checkoutFormGroup.get('email').touched)"
          class="alert alert-danger">
          <div *ngIf="checkoutFormGroup.get('email').errors.required">
            Vul een e-mailadres in.
          </div>
          <div *ngIf="checkoutFormGroup.get('email').errors.email">
            Vul een correct e-mailadres in.
          </div>
        </div>


        <div class="form-group">
          <label for="email">Adres</label>
          <input class="form-control" placeholder="Adres" formControlName="address">
        </div>
        <div *ngIf="checkoutFormGroup.get('address').invalid && (checkoutFormGroup.get('address').dirty || checkoutFormGroup.get('address').touched)"
          class="alert alert-danger">
          <div *ngIf="checkoutFormGroup.get('address').errors.required">
            Vul een adres in.
          </div>
        </div>

        <div class="form-group">
          <label for="email">Postcode</label>
          <input class="form-control" placeholder="Postcode" formControlName="zipcode">
        </div>
        <div *ngIf="checkoutFormGroup.get('zipcode').invalid && (checkoutFormGroup.get('zipcode').dirty || checkoutFormGroup.get('zipcode').touched)"
          class="alert alert-danger">
          <div *ngIf="checkoutFormGroup.get('zipcode').errors.required">
            Vul een postcode in.
          </div>
          <div *ngIf="checkoutFormGroup.get('zipcode').errors.minlength">
            Vul een correcte postcode in.
          </div>
        </div>

        <div class="form-group">
          <label for="email">Telefoonnummer</label>
          <input class="form-control" placeholder="Telefoonnummer" formControlName="phone">
        </div>
        <div *ngIf="checkoutFormGroup.get('phone').invalid && (checkoutFormGroup.get('phone').dirty || checkoutFormGroup.get('phone').touched)"
        class="alert alert-danger">
        <div *ngIf="checkoutFormGroup.get('phone').errors.required">
          Vul een telefoonnummer in.
        </div>
        <div *ngIf="checkoutFormGroup.get('phone').errors.minlength">
          Vul een correct telefoonnummer in.
        </div>
      </div>

        <button type="button" [disabled]="checkoutFormGroup.invalid" (click)="checkout()" class="btn btn-primary">Afrekenen</button>
      </form>
    </div>
  </div>
</div>