<ngx-smart-modal #registerAdminModal identifier="registerAdminModal">
    <form [formGroup]="registerFormGroup" (ngSubmit) = "register()">
      <div class="form-group">
        <label for="username">Gebruikersnaam</label>
        <input class="form-control" placeholder="Gebruikersnaam" formControlName="username">
      </div>
      <div class="form-group">
        <label for="password">Wachtwoord</label>
        <input type="password" class="form-control" placeholder="Wachtwoord" formControlName="password">
      </div>
      <div class="form-group">
        <label for="repeatPassword">Herhaal wachtwoord</label>
        <input type="password" class="form-control" placeholder="Wachtwoord" formControlName="repeatPassword">
      </div>
      <div class="form-group">
        <label for="name">Naam</label>
        <input type="text" class="form-control" placeholder="Naam" formControlName="name">
      </div>
      <div class="form-group">
        <label for="email">E-mailadres</label>
        <input type="email" class="form-control" placeholder="Email" formControlName="email">
      </div>
      <button type="button" [disabled]="registerFormGroup.invalid" (click)="register()" class="btn btn-primary">Registreren</button>
    </form>
  </ngx-smart-modal>