<div class="jumbotron">
    <h1 class="display-4">Hello, Admin!</h1>
    <p class="lead">This is the page where admins can manage content on the app.</p>
    <hr class="my-4">
    <div class="row">
        <div class="zol-sm-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Manage products</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Create, modify or delete products.</h6>
                    <a class="btn btn-primary btn-lg" routerLink="/manageproducts" routerLinkActive="active" role="button">Manage
                        Products</a>
                </div>
            </div>
        </div>
        <div class="zol-sm-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Manage users</h5>
                    <h6 class="card-subtitle mb-2 text-muted">See all users, make modifications, and delete users.</h6>
                    <a class="btn btn-primary btn-lg" routerLink="/manageusers" routerLinkActive="active" role="button">Manage
                        Users</a>
                </div>
            </div>
        </div>
    </div>
</div>