<ngx-smart-modal #basketModal identifier="basketModal">
    <h2>Winkelwagen</h2>
    <div *ngIf="basket.length > 0; else basketEmpty">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Prijs</th>
                    <th scope="col">Aantal</th>
                    <th scope="col">Subtotaal</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of basket">
                    <th scope="row">{{product.product.name}}</th>
                    <td>€{{product.product.price | number:'1.2-2'}}</td>
                    <td>{{product.amount}}</td>
                    <td>€{{product.amount * product.product.price | number:'1.2-2'}}</td>
                </tr>
            </tbody>
        </table>
        <a (click)="toCheckout()" class="btn btn-primary">Afrekenen</a>
    </div>

    <ng-template #basketEmpty>
        Je winkelwagen is leeg!
    </ng-template>
</ngx-smart-modal>