<div class="card" style="margin: 0 auto; margin-top: 1rem; max-width: 90rem">
  <h1>Broden</h1>
  <div class="media" *ngFor="let product of products" style="margin: 1rem; border-top-style: solid; border-top:cadetblue">
    <img src="/api/product/image?id={{product.product.id}}" width="128" height="128" class="align-self-start mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0">{{product.product.name}}</h5>
      <p class="card-text">{{product.product.description}}</p>
      <p class="card-text">€{{product.product.price | number:'1.2-2'}}</p>

      <form class="form-inline" style="float:right; margin-right:1rem">
        <input class="form-control" [(ngModel)]="product.amount" type="number" name="amount" style="margin-bottom: 0.5rem; margin-right: 0.5rem; max-width: 5rem;">
        <button type="submit" (click)="addToBasket(product.product, product.amount)" class="btn btn-primary mb-2" >In winkelwagen</button>
      </form>
      <div >

    </div>
    </div>
    <br>
  </div>
</div>