<ngx-smart-modal #loginModal identifier="loginModal">

  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Gebruikersnaam</label>
      <input class="form-control" id="username" placeholder="Enter username" [(ngModel)]="username" name="inputUsername">

    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Wachtwoord</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password"
        name="inputPassword">
    </div>
    <a href="#" (click)=openRegisterModalCloseOtherModals()>Nog geen account? Registreer hier!</a>
    <br>
    <button type="button" (click)="login(username, password)" class="btn btn-primary">Log in</button>
  </form>
</ngx-smart-modal>