<div class="card" style="width: 70rem; margin: auto;">
  <h1 class="display-4">User Management</h1>
  <p class="lead">Create admin users, change or delete users.</p>
  <button type="button" (click)="addAdminUser()" class="btn btn-primary btn-sm">Add admin</button>
  <div class="card">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td> <button type="button" (click)="removeUser(user)" class="btn btn-danger">Remove</button></td>
      </tr>
    </table>
  </div>
</div>
<app-addadmin></app-addadmin>