<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navcolor">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active"> 🍞 Ian's Broodshop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseNav"
    aria-controls="collapseNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapseNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Alle producten</a>
      </li>
    </ul>

      <ul class="navbar-nav ml-auto">
        <!-- <div *ngIf="loggedIn(); else elseBlock">
          <li class="nav-item">
            <a class="nav-link" href="#">Account</a>
          </li>
        </div> -->

        <div>
          <li class="nav-item active">
            <button type="button" class="btn btn-outline primary" (click)="showBasket()">🛒 Winkelwagen</button>
          </li>
        </div>

        <div *ngIf="loggedIn() && userIsAdmin();">
          <li class="nav-item active">
            <button type="button" class="btn btn-outline primary" routerLink="/admin" routerLinkActive="active">⚙️ Admin</button>
          </li>
        </div>
        <div *ngIf="loggedIn(); else elseBlock">
          <li class="nav-item active">
            <a class="nav-link" href="#" (click)="logOut();">👋 Uitloggen</a>
          </li>
        </div>
        <ng-template #elseBlock>
          <li class="nav-item active"> 
            <button type="button" class="btn btn-outline primary" (click)="ngxSmartModalService.getModal('loginModal').open()">🔑 Inloggen</button>
          </li>
        </ng-template>

      </ul>
    
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchPanel"
        identifier="searchPanel">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>