<ngx-smart-modal #addProductModal identifier="addProductModal">
    <form [formGroup]="addProductForm" (ngSubmit)="onAddProductSubmit()">
        <div class="form-group">
            <label for="name">Product Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="description">Product Description</label>
            <input type="text" class="form-control" formControlName="description" placeholder="Description">
        </div>


        <div class="form-group">
            <label for="name">Product Image</label>
            <br>
            <input type="file" (change)="onFileSelected($event)">
            <!-- (change)="onFileSelected($event)" -->
        </div>
        <div class="form-group">
            <label for="name">Product Price</label>
            <input type="text" class="form-control" formControlName="price" placeholder="Price">
        </div>
        <div class="form-group">
            <button type="button" (click)="onAddProductSubmit()" class="btn btn-primary">Apply</button>
        </div>
    </form>
</ngx-smart-modal>