<ngx-smart-modal #registerModal identifier="registerModal">
  <form [formGroup]="registerFormGroup" (ngSubmit)="register()">
    <div class="form-group">
      <label for="username">Gebruikersnaam</label>
      <input class="form-control" placeholder="Gebruikersnaam" formControlName="username">
    </div>

    <div *ngIf="registerFormGroup.get('username').invalid && (registerFormGroup.get('username').dirty || registerFormGroup.get('username').touched)"
      class="alert alert-danger">
      <div *ngIf="registerFormGroup.get('username').errors.required">
        Vul een gebruikersnaam in.
      </div>
      <div *ngIf="registerFormGroup.get('username').errors.minlength">
        Gebruikersnaam moet uit minstens 3 tekens bestaan.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Wachtwoord</label>
      <input type="password" class="form-control" placeholder="Wachtwoord" formControlName="password">
    </div>
    <div *ngIf="registerFormGroup.get('password').invalid && (registerFormGroup.get('password').dirty || registerFormGroup.get('password').touched)"
      class="alert alert-danger">
      <div *ngIf="registerFormGroup.get('password').errors.required">
        Vul een wachtwoord in.
      </div>
      <div *ngIf="registerFormGroup.get('password').errors.minlength">
        Het wachtwoord moet minstens uit 6 karakters bestaan.
      </div>
    </div>



    <div class="form-group">
      <label for="repeatPassword">Herhaal wachtwoord</label>
      <input type="password" class="form-control" placeholder="Herhaal wachtwoord" formControlName="repeatPassword">
    </div>

    <div class="form-group">
      <label for="name">Naam</label>
      <input type="text" class="form-control" placeholder="Naam" formControlName="name">
    </div>

    <div *ngIf="registerFormGroup.get('name').invalid && (registerFormGroup.get('name').dirty || registerFormGroup.get('name').touched)"
      class="alert alert-danger">
      <div *ngIf="registerFormGroup.get('name').errors.required">
        Vul een naam in.
      </div>
      <div *ngIf="registerFormGroup.get('name').errors.minlength">
        De naam moet minstens uit 3 karakters bestaan.
      </div>
    </div>


    <div class="form-group">
      <label for="email">E-mailadres</label>
      <input type="email" class="form-control" placeholder="E-mailadres" formControlName="email">
    </div>
    <div *ngIf="registerFormGroup.get('email').invalid && (registerFormGroup.get('email').dirty || registerFormGroup.get('email').touched)"
      class="alert alert-danger">
      <div *ngIf="registerFormGroup.get('email').errors.email">
        Vul een correct e-mailadres in.
      </div>
    </div>
    <button type="button" [disabled]="registerFormGroup.invalid" (click)="register()" class="btn btn-primary">Registreer</button>
  </form>



</ngx-smart-modal>